<?xml version="1.0"?>
<config>
    <modules>
        <Sofomo_Customer>
            <version>1.0.0</version>
        </Sofomo_Customer>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote>
                <page_views>
                    <to_order>*</to_order>
                </page_views>
            </sales_convert_quote>
        </fieldsets>
        <resources>
            <sofomo_customer_setup>
                <setup>
                    <module>Sofomo_Customer</module>
                </setup>
            </sofomo_customer_setup>
        </resources>
        <blocks>
            <sofomo_customer>
                <class>Sofomo_Customer_Block</class>
            </sofomo_customer>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Sofomo_Customer_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <sofomo_customer>
                <class>Sofomo_Customer_Model</class>
            </sofomo_customer>
        </models>
        <helpers>
            <sofomo_customer>
                <class>Sofomo_Customer_Helper</class>
            </sofomo_customer>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <sofomo_customer>
                        <class>sofomo_customer/observer</class>
                        <method>updateSessionPageViews</method>
                    </sofomo_customer>
                </observers>
            </controller_action_predispatch>
            <sales_quote_save_before>
                <observers>
                    <sofomo_customer>
                        <class>sofomo_customer/observer</class>
                        <method>updateQuotePageViews</method>
                    </sofomo_customer>
                </observers>
            </sales_quote_save_before>
        </events>
        <translate>
            <modules>
                <Sofomo_Customer>
                    <files>
                        <default>Sofomo_Customer.csv</default>
                    </files>
                </Sofomo_Customer>
            </modules>
        </translate>
    </frontend>
</config>
